#viewport-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
.layout-container {
  display: flex;
  justify-content: center;
}
.layout-content {
  max-width: var(--layout-max-width);
  width: 100%;
  padding: 40px 0;
  margin: 0 24px;
}
/* *********************************************************************************************************************** */
/* *********************************************************************************************************************** */
/* Header/navigation items */

/*
button template ******************************

<button class="btn btn-primary">
  <div>Start Now</div>
  <div class="icon">
    <span></span>
    <i class="fas fa-chevron-right fa-sm"></i>
  </div>
</button>
*/

.btn {
  display: flex;
  align-items: center;
  border-radius: 56px;
  padding: 8px 8px 8px 16px;
  font-size: 16px;
  cursor: pointer;
  color: var(--color-light);
  white-space: nowrap;
}
.btn .icon {
  display: flex;
  align-items: center;
  margin-left: 12.8px;
}
.btn .icon span {
  position: relative;
  width: 11.2px;
  height: 1.6px;
  background: var(--color-light);
  opacity: 0;
  border-radius: 5px;
  transition: all 250ms ease;
}
.btn:hover span {
  opacity: 1;
}
.btn .fa-chevron-right {
  position: relative;
  left: -11.2px;
  transition: all 250ms ease;
}
.btn:hover .fa-chevron-right {
  transform: translateX(5px);
}

.btn-primary {
  background: rgba(255, 255, 255, 0.2);
}
.btn-primary:hover {
  background: rgba(255, 255, 255, 0.4);
}

.btn-transparent {
  background: transparent;
}
.btn-transparent:hover {
  color: rgba(255, 255, 255, 0.7);
}
.btn-transparent:hover span {
  background: rgba(255, 255, 255, 0.7);
}

.transparent-modal {
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  box-shadow: 5px 10px 30px 2px rgba(0, 0, 0, 0.3);
}

#hero-bg-color {
  --degree: 12;
  --degree-to-radian: calc(var(--degree) * 0.0174533);
  position: absolute;
  width: 100vw;
  height: calc(43.75rem + var(--degree-to-radian) * 100vw / 2);
  transform: skewY(calc(var(--degree) * -1deg));
  transform-origin: 0;
  background-image: linear-gradient(
    150deg,
    var(--color-primary) 15%,
    var(--color-secondary) 70%,
    var(--color-tertiary) 94%
  );
  z-index: -1;
}

#modal-bg {
  display: none;
  position: absolute;
  left: 100%;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.2s ease-in-out 0.15s;
  z-index: 100;
}
#nav-modal {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  left: 100%;
  max-width: 450px;
  min-width: 220px;
  width: 80vw;
  height: 100vh;
  font-family: var(--font-primary);
  color: var(--bg-light);
  background: var(--bg-light);
  transition: transform 0.25s ease-in-out;
  overflow: scroll;
  z-index: 100;
}
.openModal {
  opacity: 1 !important;
  transform: translateX(-100%) !important;
}
#nav-modal header {
  display: flex;
  align-items: center;
  padding: 15px 25px;
  width: 100%;
  background-color: var(--color-dark);
}
#modal-logo {
  margin-right: auto;
  color: var(--bg-light);
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
}
#modal-exit-icon {
  font-size: 1.5rem;
  cursor: pointer;
}
#modal-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px 25px;
  width: 100%;
  list-style: none;
}
#modal-list a {
  padding: 20px 0;
  width: 100%;
  font-size: 17px;
  color: var(--color-dark);
  text-decoration: none;
  cursor: pointer;
}
#modal-list a:hover {
  color: #000;
}
#list-spacer {
  margin: 15px 0;
  height: 1px;
  width: 100%;
  background: var(--color-gray);
}

#nav-hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
  padding: 10.4px 16px;
  height: 32px;
  width: 48px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
#nav-hamburger span {
  height: 20%;
  width: 100%;
  background: var(--color-light);
}
#nav-hamburger:hover {
  background: rgba(255, 255, 255, 0.4);
}

#navbar {
  display: flex;
  align-items: center;
  padding: 24px 0;
  color: var(--color-light);
  font-family: var(--font-primary);
}
#logo {
  color: var(--color-light);
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}
#logo:hover {
  color: rgba(255, 255, 255, 0.7);
}
nav {
  display: flex;
  width: 100%;
}
#nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  list-style: none;
}
#nav-list a {
  margin-right: 80px;
  font-size: 16px;
  text-decoration: none;
  color: var(--color-light);
  cursor: pointer;
}
#nav-list a:last-child {
  margin-right: 0;
}
#nav-list a:hover {
  color: rgba(255, 255, 255, 0.7);
}
#nav-button {
  color: var(--color-light);
  text-decoration: none;
}

/* theme button */
.themes {
  margin-right: 15px;
  height: 38.5px;
  color: var(--color-dark-blue);
}
/* User profile and dropdown menu */
#account-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-width: 50px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
#profile-icon {
  font-size: 18px;
  cursor: pointer;
}
#profile-icon .fa-user {
  font-size: 19px;
  margin-right: 5px;
}
#profile-icon .fa-caret-down {
  transition: all ease-in-out 0.2s;
}
#profile-dropdown-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 40px;
  left: -150px;
  padding: 30px;
  height: 300px;
  width: 200px;
  border-radius: 5px;
  background: var(--bg-light-gray);
  box-shadow: 5px 10px 30px 2px rgba(0, 0, 0, 0.3);
  z-index: 1;
}
#profile-dropdown-menu a {
  display: block;
  text-align: center;
  margin-bottom: 30px;
  text-decoration: none;
  font-family: var(--font-primary);
  font-size: 17px;
  font-weight: 500;
  color: var(--color-dark);
}
#profile-dropdown-menu a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}
.openDropdown {
  display: flex !important;
}

/* media queries */

@media screen and (max-width: 700px) {
  #nav-hamburger,
  #nav-modal,
  #modal-bg {
    display: flex;
  }
  #navbar nav,
  #nav-button,
  #account-nav {
    display: none;
  }
}
/* *********************************************************************************************************************** */
/* *********************************************************************************************************************** */

/* *********************************************************************************************************************** */
/* *********************************************************************************************************************** */
/* Hero section */

#hero-grid {
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  column-gap: 1.5rem;
}
#hero-left-info {
  display: grid;
  row-gap: 2.5rem;
  padding-top: 5rem;
  color: var(--color-light);
}
#hero-title {
  --title-font-min: 30;
  --title-font-max: 56;
  --viewport-min: 280;
  --viewport-max: 600;
  --title-font-size: calc(
    var(--title-font-min) * 1px +
      (var(--title-font-max) - var(--title-font-min)) *
      (100vw - var(--viewport-min) * 1px) /
      (var(--viewport-max) - var(--viewport-min))
  );
  position: relative;
  width: 100%;
  font: 600 var(--title-font-size) / normal var(--font-primary);
  letter-spacing: -2px;
}
#hero-text {
  width: 100%;
  font: 300 1.3rem / normal var(--font-secondary);
  letter-spacing: 0.013rem;
}
#hero-btns {
  display: flex;
  justify-content: flex-start;
}

#pictogram-header {
  grid-area: header;
}
#pictogram-header-right {
  grid-area: header-right;
}
#pictogram-nav {
  grid-area: nav;
}
#pictogram-main {
  grid-area: main;
}
#pictogram-main-right {
  grid-area: main-right;
}
#pictogram-footer {
  grid-area: footer;
}
#pictogram-sidebar {
  grid-area: sidebar;
}
#hero-right-pictogram {
  display: none;
  grid-template:
    "nav header header header-right" 15%
    "nav main main-right sidebar" 38%
    "nav footer footer sidebar" 47%
    / 7% 31.5% 31.5% 30%;
  position: absolute;
  top: 0;
  left: calc(50% + 6.25rem);
  height: 34.375rem;
  width: 58.938rem;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
}

#pictogram-header,
#pictogram-header-right {
  display: flex;
  padding: 0 1.875rem;
  justify-content: space-between;
  align-items: center;
}
#pictogram-header h1 {
  font-size: 1.2rem;
  font-family: var(--font-primary);
  letter-spacing: -0.05rem;
  font-weight: 600;
  color: var(--color-light);
}
#pictogram-header header span {
  font-weight: 300;
}
#pictogram-header p {
  margin-top: 0.313rem;
  font-size: 0.9rem;
  font-family: var(--font-secondary);
  color: var(--color-light-gray);
}
#header-searchbar {
  margin-right: 3.125rem;
  padding: 0.5rem 1.25rem;
  border-radius: 8px;
  color: var(--color-gray);
  background: var(--bg-light);
  font-size: 0.75rem;
}
#header-searchbar span {
  font-family: var(--font-secondary);
}

#pictogram-header-right .notification-icon,
.profile-icon {
  position: relative;
  padding: 0.75rem;
  border-radius: 8px;
  color: var(--color-dark);
  background: var(--bg-light);
}
#pictogram-header-right .fa-circle {
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
  font-size: 0.5rem;
  color: var(--color-tertiary);
}
#pictogram-header-right .profile-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 2.688rem;
  width: 2.688rem;
  font-size: 1.125rem;
}
#pictogram-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  font-size: 1.25rem;
  color: var(--color-dark-blue);
}
#pictogram-logo {
  color: var(--color-tertiary);
}
#nav-icons {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 45%;
  width: 100%;
  bottom: 1.875rem;
}
.nav-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2.5rem;
}
.nav-icon-wrapper:first-of-type {
  border-left: 0.188rem solid var(--color-tertiary);
  color: var(--color-tertiary);
}

/* .pictogram-card is applied to each grid area for pictogram because they share
   these certain similar styles
*/
.pictogram-card {
  margin: 0 1.25rem 1.25rem 0;
  padding: 1.25rem 1.875rem;
  border-radius: 5px;
  color: var(--color-dark);
  background: var(--bg-light);
  box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.2);
  font-family: var(--font-primary);
}
#pictogram-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 1.25rem;
  text-align: center;
}
#main-title {
  font-size: 0.813rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: var(--color-dark);
}
#main-balance {
  color: var(--color-green);
  font-size: 1.875rem;
  font-weight: 600;
}
#main-balance i {
  font-size: 1.25rem;
}
#main-date {
  font-size: 0.875rem;
  font-weight: 400;
  font-family: var(--font-secondary);
  letter-spacing: -0.025rem;
  color: var(--color-gray);
}
#main-date i {
  margin: 0 0.625rem;
  font-size: 0.625rem;
}
#main-balance-change {
  padding: 0.5rem 0.75rem;
  background: var(--color-tertiary);
  border-radius: 8px;
  color: var(--color-green);
  font-size: 0.875rem;
}
#pictogram-main .fa-sort-up,
.fa-sort-down {
  margin-right: 0.5rem;
}
#pictogram-main .fa-percent {
  font-size: 0.625rem;
}

#pictogram-main-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.25rem 1.25rem;
}
#pictogram-main-right i {
  color: var(--color-gray);
}
#main-right-header {
  font-size: 0.813rem;
  font-weight: 500;
}
#main-right-center {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#main-right-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.438rem 0.625rem;
  width: calc(50% - 0.313rem);
  border: 1px solid var(--color-gray);
  border-radius: 8px;
  font-family: var(--font-secondary);
  font-size: 0.75rem;
  font-weight: 400;
}
#main-right-amount {
  display: flex;
  align-items: center;
  padding: 0.438rem 0.625rem;
  width: calc(50% - 0.313rem);
  border: 1px solid var(--color-gray);
  border-radius: 8px;
  font-family: var(--font-secondary);
  font-size: 0.75rem;
  font-weight: 400;
}
#main-right-amount i {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.438rem;
  height: 0.938rem;
  width: 0.938rem;
  font-size: 0.594rem;
  color: var(--color-light);
  background: var(--color-gray);
  border-radius: 50%;
}
#main-right-note {
  display: flex;
  align-items: center;
  padding: 0.438rem 0.625rem;
  border: 1px solid rgb(66, 84, 102);
  border-radius: 8px;
  font-family: var(--color-dark);
  font-size: 0.75rem;
  font-weight: 400;
}
#main-right-note i {
  margin-right: 0.438rem;
  font-size: 1.125rem;
}
#main-right-note span {
  border-right: 0.063rem solid var(--color-dark);
}
#main-right-button {
  padding: 0.438rem;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 400;
  background: var(--color-tertiary);
  border-radius: 8px;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
}
#pictogram-footer {
  display: flex;
  flex-direction: column;
  margin-left: 1.25rem;
  padding: 0.625rem 0.938rem;
  text-align: center;
}
#footer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.938rem;
  font-size: 0.813rem;
  font-weight: 500;
}
#footer-title {
  font-family: var(--font-primary);
}
#footer-filter {
  padding: 0.438rem 0.313rem;
  border: 1px solid var(--color-gray);
  border-radius: 8px;
  font-size: 0.688rem;
  font-weight: 500;
}
#footer-filter i {
  margin: 0 0.313rem;
}
#footer-graph-container {
  display: flex;
  height: 100%;
  width: 100%;
  font-size: 0.75rem;
  color: var(--color-gray);
}
#footer-y-axis {
  position: relative;
  bottom: 0.5rem;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  height: calc(100% - 0.688rem);
}
#footer-right-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
#footer-graph {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.938rem 0.625rem 1.563rem;
  height: 100%;
  width: 100%;
}
#footer-graph-bg {
  position: absolute;
  left: 0.938rem;
  bottom: 0.625rem;
  display: flex;
  flex-direction: column;
  height: calc(100% - 0.625rem);
  width: calc(100% - 1.25rem);
  z-index: 0;
}
.footer-graph-rows {
  width: 100%;
  height: 100%;
  border-top: 0.063rem dashed var(--color-gray);
}
.footer-bar-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
  width: 2.188rem;
  z-index: 1;
}
.footer-bar-primary {
  background: var(--color-green);
  height: 100%;
  width: 45%;
  border-radius: 10px 10px 0 0;
}
.footer-bar-secondary {
  background: #c2ffdb;
  height: 100%;
  width: 45%;
  border-radius: 10px 10px 0 0;
}

#graph-bottom-border {
  position: absolute;
  left: 0.938rem;
  bottom: 0.625rem;
  width: calc(100% - 1.25rem);
  border-bottom: 0.063rem solid var(--color-gray);
  z-index: 2;
}
#footer-x-axis {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.938rem 0 1.563rem;
}
#pictogram-sidebar {
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 0.813rem;
}
#pictogram-sidebar i {
  color: var(--color-gray);
}
#goals-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.625rem;
  font-weight: 500;
}
.sidebar-goals-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.625rem;
  padding: 0.625rem 0.938rem;
  font-size: 0.67rem;
  font-family: var(--font-secondary);
  font-weight: 500;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.1);
}
.goals-info-container {
  text-align: center;
}
.goals-title {
  font-family: var(--font-primary);
}
.goals-donut-chart {
  --width: 2.125rem;
  display: inline-grid;
  place-content: center;
  position: relative;
  width: var(--width);
  aspect-ratio: 1;
  font-size: 0.563rem;
  color: var(--main-color);
}
.goals-donut-chart::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: conic-gradient(
    from 30deg,
    var(--main-color) calc((var(--percentage) * 0.3) * 1%),
    var(--secondary-color) calc((var(--percentage) - 7) * 1%),
    #0000 0 calc(var(--percentage) * 1%),
    var(--secondary-color) 0 93%,
    #0000 0 100%
  );
  -webkit-mask: radial-gradient(
    farthest-side,
    #0000 calc(100% - var(--border-thickness)),
    #000 0 100%
  );
  mask: radial-gradient(
    farthest-side,
    #0000 calc(100% - var(--border-thickness)),
    #000 0 100%
  );
}
.chart-circles::before,
.chart-circles::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: calc(50% - var(--border-thickness) / 2);
}
.top-circles::before {
  background: var(--secondary-color);
  transform: rotate(95deg) translate(calc(50% - var(--width) / 2));
}
.top-circles::after {
  background: var(--main-color);
  transform: rotate(120deg) translate(calc(50% - var(--width) / 2));
}
.bottom-circles::before {
  background: var(--secondary-color);
  transform: rotate(calc((120 + var(--percentage) * 3.6) * 1deg))
    translate(calc(50% - var(--width) / 2));
}
.bottom-circles::after {
  background: var(--secondary-color);
  transform: rotate(calc((95 + var(--percentage) * 3.6) * 1deg))
    translate(calc(50% - var(--width) / 2));
}
.sidebar-activity-container {
  padding-top: 0.625rem;
}
.activity-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.625rem;
  font-weight: 500;
}
.activity-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 0;
  font-size: 0.688rem;
  font-family: var(--font-secondary);
  font-weight: 500;
  border-radius: 5px;
}
.activity-left {
  display: flex;
}
.activity-icon i {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.625rem;
  padding: 0.625rem;
  width: 2.188rem;
  aspect-ratio: 1;
  font-size: 0.938rem;
  color: var(--color-dark) !important;
  border-radius: 30%;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
}
.activity-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.activity-title {
  font-size: 0.688rem;
  font-family: var(--font-primary);
}
.activity-date {
  color: var(--color-gray);
}

/* media queries */
@media screen and (min-width: 600px) {
  #hero-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  #hero-title {
    min-width: calc(100% + 3.125rem);
  }
  #hero-text {
    width: 90%;
  }
  #hero-right-pictogram {
    display: grid;
  }
  #hero-title {
    --title-font-min: 34;
    --title-font-max: 56;
    --viewport-min: 600;
    --viewport-max: 1080;
  }
}
@media screen and (min-width: 1080px) {
  #hero-title {
    --title-font-size: 56px;
  }
}

/* *********************************************************************************************************************** */
/* *********************************************************************************************************************** */
