/* Strip elements of default values */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}
/* CSS variables */
:root {
  /* Fonts */
  --font-primary: "Rubik";
  --font-secondary: "Crimson Pro";

  /* layout */
  --layout-max-width: 1080px;
}
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
.theme-light {
  /* Colors */
  --color-primary: #53f;
  --color-secondary: #05d5ff;
  --color-tertiary: #a6ffcb;
  --color-gray: #ccd7e0;
  --color-gray-hover: #afbbc5;
  --color-green: #00e05e;
  --color-orange: #fb8500;
  --color-red: #e63946;
  --color-yellow: #ffb703;
  --bg-primary: #53f;
  --bg-gray: #ccd7e0;
  --bg-tertiary: #11c6ab;
  /* Light colors */
  --color-light: #fff;
  --color-light-primary: rgb(208, 199, 255);
  --color-light-gray: rgb(239, 244, 250);
  --bg-light-primary: rgb(208, 199, 255);
  --bg-light-gray: rgb(239, 244, 250);
  --bg-light: #fff;
  /* Dark colors */
  --color-dark: #425466;
  --color-dark-gray: #89939b;
  --color-dark-primary: rgb(56, 33, 171);
  --color-dark-blue: #023047;
  --bg-dark: #425466;
  --bg-dark-primary: #3720aa;
  --bg-dark-tertiary: #0f806f;
  --hover-dark: #425466;
}
.theme-dark-dashboard {
  /* Colors */
  --color-primary: #11c6ab;
  --color-gray: #e2e2e2;
  --color-green: #00e05e;
  --color-orange: #fb8500;
  --color-red: #e63946;
  --color-yellow: #ffb703;
  --bg-primary: #11c6ab;
  --bg-tertiary: #53f;

  --bg-gray: #425466;
  /* Light colors */
  --bg-light: #00264f;
  --bg-light-primary: #c5fede;
  --bg-light-gray: #023047;
  /* Dark colors */
  --color-dark: #fff;
  --bg-dark: #fff;
  --bg-dark-primary: #0f806f;
  --bg-dark-tertiary: #3821ab;
  --color-dark-gray: #6d777f;
  --hover-dark: #425466;
}
.theme-dark-home {
  --color-primary: rgb(0, 38, 79);
  --color-secondary: #325fa8;
  --color-tertiary: #11c6ab;
  --color-dark: #fff;
  --color-dark-blue: #fff;
  --color-gray: rgb(218, 218, 218);
  --color-gray-hover: #afbbc5;
  --color-light-gray: rgb(239, 244, 250);
  --color-light: #fff;
  --color-green: #02fe6b;
  --bg-gray: #425466;
  --bg-light: #023047;
  --bg-light-gray: #425466;
}

/* shared css elements */

/* 
Theme button structure
<div class="themes">
  <span class="theme-toggle"></span>
  <i class="fa-solid fa-sun"></i>
  <i class="fa-solid fa-moon"></i>
</div>
*/
.themes {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  border-radius: 50px;
  background: var(--bg-gray);
  border: 1px solid var(--bg-dark);
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.themes i {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  aspect-ratio: 1;
  z-index: 2;
}
.theme-toggle {
  position: absolute;
  left: 0;
  height: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--bg-light);
  z-index: 1;
  transform: translateX(0%);
  transition: all linear 0.1s;
}
.dark-theme-active {
  transform: translateX(100%);
}
