.layout-section {
  position: relative;
  width: 100vw;
  overflow: hidden;
}
/* *********************************************************************************************************************** */
/* *********************************************************************************************************************** */
/* Header/navigation items */

/*
button template ******************************

<button class="btn btn-primary">
  <div>Start Now</div>
  <div class="icon">
    <span></span>
    <i class="fas fa-chevron-right fa-sm"></i>
  </div>
</button>
*/

.btn {
  display: flex;
  align-items: center;
  border-radius: 3.5rem;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  color: #fff;
  white-space: nowrap;
}
.btn .icon {
  display: flex;
  align-items: center;
  margin-left: 0.8rem;
}
.btn .icon span {
  position: relative;
  width: 0.7rem;
  height: 0.1rem;
  background: #fff;
  opacity: 0;
  border-radius: 5px;
  transition: all 250ms ease;
}
.btn:hover span {
  opacity: 1;
}
.btn .fa-chevron-right {
  position: relative;
  left: -0.7rem;
  transition: all 250ms ease;
}
.btn:hover .fa-chevron-right {
  transform: translateX(5px);
}

.btn-primary {
  background: rgba(255, 255, 255, 0.2);
}
.btn-primary:hover {
  background: rgba(255, 255, 255, 0.4);
}

.btn-transparent {
  background: transparent;
}
.btn-transparent:hover {
  color: rgba(255, 255, 255, 0.7);
}
.btn-transparent:hover span {
  background: rgba(255, 255, 255, 0.7);
}

.transparent-modal {
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  box-shadow: 5px 10px 30px 2px rgba(0, 0, 0, 0.3);
}

#hero-bg-wrapper {
  --degree: 12;
  --degree-to-radian: calc(var(--degree) * 0.0174533);
  position: absolute;
  width: 100vw;
  height: calc(650px + var(--degree-to-radian) * 100vw / 2);
  z-index: -1;
  overflow: hidden;
}
#hero-bg-color {
  position: relative;
  height: 100%;
  width: 100%;
  transform: skewY(calc(var(--degree) * -1deg));
  transform-origin: 0;
  background-image: linear-gradient(
    150deg,
    var(--color-primary) 15%,
    var(--color-secondary) 70%,
    var(--color-tertiary) 94%
  );
}

#nav-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: -14rem;
  width: 14rem;
  height: 18rem;
  border-radius: 5px;
  background: #fff;
  box-shadow: 5px 10px 30px 2px rgba(0, 0, 0, 0.3);
  transition: all 0.15s ease-in-out;
  z-index: 100;
}
.open {
  transform: translateX(calc(-14rem - 20px)) !important;
}
#modal-exit-icon {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 1.5rem;
  color: var(--color-dark);
  cursor: pointer;
}
#modal-exit-icon:hover {
  color: #000;
}
#modal-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 60%;
  width: 100%;
  list-style: none;
}
#modal-list li {
  font-size: 1.1rem;
  font-family: var(--font-primary);
  color: var(--color-dark);
  cursor: pointer;
}
#modal-list li:hover {
  color: #000;
}
#modal-list .list-underline {
  width: 80%;
  border-bottom: 2px dotted var(--color-gray);
}
#modal-button {
  font-size: 1.1rem;
  background: var(--color-primary);
}
#modal-button span {
  width: 0.725rem;
  height: 0.125rem;
}
#modal-button:hover {
  background: var(--color-primary-dark);
}

#nav-hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.65rem 1rem;
  height: 2rem;
  width: 3rem;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
#nav-hamburger span {
  height: 20%;
  width: 100%;
  background: #fff;
}
#nav-hamburger:hover {
  background: rgba(255, 255, 255, 0.4);
}

#navbar-container {
  display: flex;
  justify-content: center;
  margin: 0 1.5rem;
}
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  width: 100%;
  max-width: var(--layout-max-width);
  color: #fff;
  font-family: var(--font-primary);
}
#navbar li:hover {
  color: rgba(255, 255, 255, 0.7);
}
#logo {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}
#logo:hover {
  color: rgba(255, 255, 255, 0.7);
}
#nav-list {
  display: flex;
  list-style: none;
}
#nav-list li {
  margin-right: 5rem;
  cursor: pointer;
}
#nav-list li:last-child {
  margin-right: 0;
}

@media screen and (max-width: 700px) {
  #nav-hamburger {
    display: flex;
  }
  #navbar nav,
  #nav-button {
    display: none;
  }
}
/* *********************************************************************************************************************** */
/* *********************************************************************************************************************** */

/* *********************************************************************************************************************** */
/* *********************************************************************************************************************** */
/* Hero section */

main {
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.hero {
  max-width: var(--layout-max-width);
  width: 100%;
  margin: 0 1.5rem;
  padding: 2.5rem 0;
}
.hero-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.5rem;
}
.hero-left-info {
  display: grid;
  row-gap: 2.5rem;
  padding-top: 5rem;
  color: #fff;
}
.hero-title {
  position: relative;
  min-width: calc(100% + 50px);
  font-size: 3.5rem;
  font-family: var(--font-primary);
  font-weight: 600;
  letter-spacing: -0.125rem;
}
.hero-text {
  width: 90%;
  font-size: 1.3rem;
  font-family: var(--font-secondary);
  font-weight: 300;
  letter-spacing: 0.2px;
}
.hero-btns {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
#hero-right-pictogram {
  position: relative;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
}
#modal-wrapper {
  position: absolute;
  top: 0;
  left: 100px;
  height: 100%;
  width: 943px;
}
.dashboard-header {
  grid-area: header;
}
.dashboard-header-right {
  grid-area: header-right;
}
.dashboard-menu {
  grid-area: menu;
}
.dashboard-main {
  grid-area: main;
}
.dashboard-main-right {
  grid-area: main-right;
}
.dashboard-footer {
  grid-area: footer;
}
.dashboard-sidebar {
  grid-area: sidebar;
}
#hero-dashboard {
  display: grid;
  grid-template:
    "menu header header header-right" 15%
    "menu main main-right sidebar" 38%
    "menu footer footer sidebar" 47%
    / 7% 31.5% 31.5% 30%;
}
.dashboard-header,
.dashboard-header-right {
  display: flex;
  padding: 0 30px;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.dashboard-header header h1 {
  font-size: 1.2rem;
  font-family: var(--font-primary);
  letter-spacing: -0.05rem;
  font-weight: 600;
}
.dashboard-header header h1 span {
  font-weight: 300;
}
.dashboard-header header p {
  margin-top: 5px;
  font-size: 0.9rem;
  font-family: var(--font-secondary);
  color: var(--color-light-gray);
}
.dashboard-header .dashboard-searchbar {
  margin-right: 50px;
  padding: 8px 20px;
  border-radius: 8px;
  color: var(--color-gray);
  background: white;
  font-size: 12px;
}
.dashboard-header .dashboard-searchbar span {
  font-family: var(--font-secondary);
}
.dashboard-header-right .notification-icon,
.profile-icon {
  position: relative;
  padding: 12px;
  border-radius: 8px;
  color: var(--color-dark);
  background: white;
}
.dashboard-header-right .fa-circle {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 8px;
  color: var(--color-tertiary);
}
.dashboard-header-right .profile-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 43px;
  width: 43px;
  font-size: 18px;
}
.dashboard-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  font-size: 20px;
  color: #303d4b;
}
.dashboard-menu .dashboard-logo {
  color: var(--color-tertiary);
}
.dashboard-menu .menu-icons {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 45%;
  width: 100%;
  bottom: 30px;
}
.dashboard-menu .menu-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
}
.dashboard-menu .menu-icon-wrapper:first-of-type {
  border-left: 3px solid var(--color-tertiary);
  color: var(--color-tertiary);
}
.dashboard-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px 20px 20px;
  padding: 20px 30px;
  background: white;
  border-radius: 5px;
  text-align: center;
  box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.2);
  font-family: var(--font-primary);
}
.dashboard-main .main-title {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 8px;
  color: var(--color-dark);
}
.dashboard-main .main-balance {
  color: #00e05e;
  font-size: 30px;
  font-weight: 600;
}
.dashboard-main .main-balance i {
  font-size: 20px;
}
.dashboard-main .main-date {
  font-size: 14px;
  font-weight: 400;
  font-family: var(--font-secondary);
  letter-spacing: -0.025rem;
  color: var(--color-gray);
}
.dashboard-main .main-date i {
  margin: 0 10px;
  font-size: 10px;
}
.dashboard-main .main-balance-change {
  padding: 8px 12px;
  background: #c2ffdb;
  border-radius: 8px;
  color: #00e05e;
  font-size: 14px;
}
.dashboard-main .fa-sort-up,
.fa-sort-down {
  margin-right: 8px;
}
.dashboard-main .fa-percent {
  font-size: 10px;
}
.dashboard-main-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 20px 20px 0;
  padding: 20px 20px;
  font-family: var(--font-primary);
  background: white;
  color: var(--color-dark);
  border-radius: 5px;
  box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.2);
}
.dashboard-main-right i {
  color: var(--color-gray);
}
.main-right-header {
  font-size: 13px;
  font-weight: 500;
}
.main-right-center {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.main-right-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 10px;
  width: calc(50% - 5px);
  border: 1px solid var(--color-gray);
  border-radius: 8px;
  font-family: var(--font-secondary);
  font-size: 12px;
  font-weight: 400;
}
.main-right-amount {
  display: flex;
  align-items: center;
  padding: 7px 10px;
  width: calc(50% - 5px);
  border: 1px solid var(--color-gray);
  border-radius: 8px;
  font-family: var(--font-secondary);
  font-size: 12px;
  font-weight: 400;
}
.main-right-amount i {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 7px;
  height: 15px;
  width: 15px;
  font-size: 9.5px;
  color: white;
  background: var(--color-gray);
  border-radius: 50%;
}
.main-right-note {
  display: flex;
  align-items: center;
  padding: 7px 10px;
  border: 1px solid rgb(66, 84, 102);
  border-radius: 8px;
  font-family: var(--color-dark);
  font-size: 12px;
  font-weight: 400;
}
.main-right-note i {
  margin-right: 7px;
  font-size: 18px;
}
.main-right-note span {
  border-right: 1px solid var(--color-gray);
}
.main-right-button {
  padding: 7px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  background: var(--color-tertiary);
  border-radius: 8px;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
}
.dashboard-footer {
  display: flex;
  flex-direction: column;
  margin: 0 20px 20px 20px;
  padding: 10px 15px;
  background: white;
  border-radius: 5px;
  text-align: center;
  box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.2);
  font-family: var(--font-secondary);
  color: var(--color-dark);
}
.footer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  font-size: 13px;
  font-weight: 500;
}
.footer-title {
  font-family: var(--font-primary);
}
.footer-filter {
  padding: 7px 5px;
  border: 1px solid var(--color-gray);
  border-radius: 8px;
  font-size: 11px;
  font-weight: 500;
}
.footer-filter i {
  margin: 0 5px;
}
.footer-graph-container {
  display: flex;
  height: 100%;
  width: 100%;
  font-size: 12px;
  color: var(--color-gray);
}
.footer-y-axis {
  position: relative;
  bottom: 8px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  height: calc(100% - 11px);
}
.footer-right-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.footer-graph {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 10px 25px;
  height: 100%;
  width: 100%;
}
.footer-graph-bg {
  position: absolute;
  left: 15px;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  height: calc(100% - 10px);
  width: calc(100% - 20px);
  z-index: 0;
}
.footer-graph-rows {
  width: 100%;
  height: 100%;
  border-top: 1px dashed var(--color-gray);
}
.footer-bar-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
  width: 35px;
  z-index: 1;
}
.footer-bar-primary {
  background: #00e05e;
  height: 100%;
  width: 45%;
  border-radius: 10px 10px 0 0;
}
.footer-bar-secondary {
  background: #c2ffdb;
  height: 100%;
  width: 45%;
  border-radius: 10px 10px 0 0;
}
.bar1-primary {
  height: 70%;
}
.bar2-primary {
  height: 50%;
}
.bar3-primary {
  height: 95%;
}
.bar4-primary {
  height: 80%;
}
.bar5-primary {
  height: 60%;
}
.bar6-primary {
  height: 88%;
}
.bar7-primary {
  height: 89%;
}
.bar1-secondary {
  height: 55%;
}
.bar2-secondary {
  height: 40%;
}
.bar3-secondary {
  height: 85%;
}
.bar4-secondary {
  height: 70%;
}
.bar5-secondary {
  height: 35%;
}
.bar6-secondary {
  height: 78%;
}
.bar7-secondary {
  height: 45%;
}
.footer-graph .graph-border {
  position: absolute;
  left: 15px;
  bottom: 10px;
  width: calc(100% - 20px);
  border-bottom: 1px solid var(--color-gray);
  z-index: 2;
}
.footer-x-axis {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 0 25px;
}
.dashboard-sidebar {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 20px 20px 0;
  padding: 20px 20px;
  font-family: var(--font-primary);
  font-size: 13px;
  color: var(--color-dark);
  background: white;
  border-radius: 5px;
  box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.dashboard-sidebar i {
  color: var(--color-gray);
}
.sidebar-header-goals {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-weight: 500;
}
.sidebar-goals-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px 15px;
  font-size: 11px;
  font-family: var(--font-secondary);
  font-weight: 500;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.1);
}
.goals-info-container {
  text-align: center;
}
.goals-title {
  font-family: var(--font-primary);
}
.goals-donut-chart {
  --width: 34px;
  display: inline-grid;
  place-content: center;
  position: relative;
  width: var(--width);
  aspect-ratio: 1;
  font-size: 9px;
  color: var(--main-color);
}
.goals-donut-chart::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: conic-gradient(
    from 30deg,
    var(--main-color) calc((var(--percentage) * 0.3) * 1%),
    var(--secondary-color) calc((var(--percentage) - 7) * 1%),
    #0000 0 calc(var(--percentage) * 1%),
    var(--secondary-color) 0 93%,
    #0000 0 100%
  );
  -webkit-mask: radial-gradient(
    farthest-side,
    #0000 calc(100% - var(--border-thickness)),
    #000 0 100%
  );
  mask: radial-gradient(
    farthest-side,
    #0000 calc(100% - var(--border-thickness)),
    #000 0 100%
  );
}
.chart-circles::before,
.chart-circles::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: calc(50% - var(--border-thickness) / 2);
}
.top-circles::before {
  background: var(--secondary-color);
  transform: rotate(95deg) translate(calc(50% - var(--width) / 2));
}
.top-circles::after {
  background: var(--main-color);
  transform: rotate(120deg) translate(calc(50% - var(--width) / 2));
}
.bottom-circles::before {
  background: var(--secondary-color);
  transform: rotate(calc((120 + var(--percentage) * 3.6) * 1deg))
    translate(calc(50% - var(--width) / 2));
}
.bottom-circles::after {
  background: var(--secondary-color);
  transform: rotate(calc((95 + var(--percentage) * 3.6) * 1deg))
    translate(calc(50% - var(--width) / 2));
}
.sidebar-activity-container {
  padding-top: 10px;
  overflow: scroll;
}
.activity-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-weight: 500;
}
.activity-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  font-size: 11px;
  font-family: var(--font-secondary);
  font-weight: 500;
  border-radius: 5px;
}
.activity-left {
  display: flex;
}
.activity-icon i {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  padding: 10px;
  width: 35px;
  aspect-ratio: 1;
  font-size: 15px;
  color: var(--color-dark);
  border-radius: 30%;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
}
.activity-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.activity-title {
  font-size: 11px;
  font-family: var(--font-primary);
}
.activity-date {
  color: var(--color-gray);
}

/* *********************************************************************************************************************** */
/* *********************************************************************************************************************** */
